.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 10%;
  z-index: 9999;
  display: flex;
  background: linear-gradient(to bottom, #e8eee8, transparent);
}
.headerContent {
  position: relative;
  top: 22%;
  left: 70%;
  width: 10%;
  font-weight: bold;
  font-size: large;
  font-family: "Roboto";
}
.imgHead{
  position: relative;
  z-index: 9999;
  top: 12%;
 }

.imgHeadContent {
  position: absolute;
  z-index: 9999;
  font-size: large;
  font-weight: bold;
  font-family: "Roboto";
  height: 7.6%;
  width: 49.37%;
  background: linear-gradient(to bottom, #e8eee8, transparent);
}
.titleSpan {
  top: 24%;
  position: relative;
  left: 10%;
}
.carouselMainDiv {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
}

.carouselmages {
  display: none;
}

.carImg {
  position: relative;
  width: 110%;
}
.carImgDiv {
  width: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slide {
  position: relative;
  animation: slide 0.4s;
}
@keyframes slide {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
