<div class="header">
  <p class="headerContent">
  <span> {{today | date: 'MM/dd/yy hh:mm'}}</span>
  </p>
</div>
<div class="carouselMainDiv">

  <div class="carouselmages slide">
    <div class="imgHeadContent">My Grocery</div>
    <img src="/assets/images/marketingscreen1.jpg" class="carImg">
  </div>

  <div class="carouselmages slide">
    <div class="imgHeadContent"><img src="/assets/images/logo_grocery.png"></div>
    <img src="/assets/images/marketingscreen2.jpg" class="carImg" >
  </div>

  <div class="carouselmages slide">
    <div class="imgHeadContent"><img src="/assets/images/logo_grocery.png"></div>
    <img src="/assets/images/marketingscreen3.jpg" class="carImg">
  </div>
</div>
