<div class="header">
  <div class="imgHead"><img src="/assets/images/logo_grocery.png"></div>
  <div class="headerContent">
  <span> {{today | date: 'MM/dd/yy hh:mm'}}</span>
  </div>
</div>
<div class="carouselMainDiv">

  <div class="carouselmages fade">
     <div class="carImgDiv"> <img src="/assets/images/marketingscreen1.jpg" class="carImg"> </div>
  </div>

  <div class="carouselmages fade">
      <div class="carImgDiv"><img src="/assets/images/marketingscreen2.jpg" class="carImg" ></div>
  </div>

  <div class="carouselmages fade">
     <div class="carImgDiv"><img src="/assets/images/marketingscreen3.jpg" class="carImg"></div>
  </div>
</div>
