 <div *ngIf="showScreen === 'nutriInfo' " >
  <!-- [style.backgroundImage]="'url('+ nutritionalInformation.image + ')'"> -->
 <!-- background-image: url('assets/images/nutriInfo_banana.jpg'); -->
<!-- {{nutritionalInformation.id}} 
{{nutritionalInformation.image}}
{{nutritionalInformation.subMenuID.subMenuName}} -->
   <!-- <img  src="assets/images/nutriInfo_banana.jpg" 
   style="height: -webkit-fill-available; width:-webkit-fill-available;">  -->
  <!-- <div></div> -->
  <div ><img  src="{{nutritionalInformation.image}}" 
    style="height: 90%; width:-webkit-fill-available;
    z-index: -1; position: relative;"></div>
 
  <app-nutri-info-buttons ></app-nutri-info-buttons>

</div>
