<div *ngIf="showMenuImg === 'categoryList' ">
<div  [style.background-image]="'url('+menuImage+')'" 
class="catBGImg"> 
 
  <!-- <div class="catDiv">
  <app-category-list class="catList"  *ngFor="let catItem of categoryList;let i=index;"
  [cat]="catItem"  [iVal]="i"></app-category-list>

</div> -->
</div>
<div class = "catName">{{menuName}}</div>
<div class="catDiv" >
 
  <app-category-list class="catList"  *ngFor="let catItem of categoryList;let i=index;"
  [cat]="catItem"  [iVal]="i"></app-category-list>

</div>

</div>