<div class="buttonLstDiv">

  <div class="buttonDiv">
    <button class="centerButtons" id="0" [style.background-image]="'url('+btnImage[0]+')'">
    </button>
    <label class="lbl" id="lbl0">Video</label>
  </div>
  <div class="buttonDiv">
    <button class="centerButtons btnText" id="1" value="14.99€">2.99€
    </button>
    <label class="lbl" id="lbl1">€/kg</label>
  </div>

  <div class="buttonDiv">
    <button class="centerButtons" id="2" [style.background-image]="'url('+btnImage[2]+')'">
    </button>
    <label class="lbl" id="lbl2">Details</label>
  </div>

  <div class="buttonDiv">
    <button class="centerButtons" id="3" [style.background-image]="'url('+btnImage[3]+')'">
    </button>
    <label class="lbl" id="lbl3">Send me</label>
  </div>


</div>
