<div class="buttonLstDiv" >

  <div class="buttonDiv">
  <button class ="semi-transparent-button"  id="0"
  [style.background-image]="'url('+btnImage[0]+')'">
  </button>
  <label class="lbl" id="lbl0" >Video</label>
</div>
<div  class="buttonDiv">
  <button class ="semi-transparent-button btnText" id="1"
  value="14.99€"> 14.99€
  </button>
  <label class="lbl" id="lbl1">€/kg</label>
</div>

<div class="buttonDiv">
  <button class ="semi-transparent-button"  id="2"
  [style.background-image]="'url('+btnImage[2]+')'">
  </button>
  <label class="lbl" id="lbl2">Add</label>
</div>

<div  class="buttonDiv">
  <button class ="semi-transparent-button"  id="3"
  [style.background-image]="'url('+btnImage[3]+')'">
  </button>
  <label class="lbl" id="lbl3">Recipe</label>
</div>

<div  class="buttonDiv">
  <button class ="semi-transparent-button"  id="4"
  [style.background-image]="'url('+btnImage[4]+')'">
  </button>
  <label class="lbl" id="lbl4">Send</label>
</div>


</div>

