<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<app-header></app-header>

<div *ngIf="showScreen === 'menu'" class="menuTabDiv" [style.background-image]="'url('+imageName+')'">
  <div class="menuFlex">
    <app-menu-tab class="menuTab" *ngFor="let menuItem of menuItems;let i=index;" [menu]="menuItem"
      (menuItemSelected)="getMenuObj($event)" [iVal]="i">
    </app-menu-tab>
  </div>
</div>
<!-- <div *ngIf="showScreen === 'categoryList'" > -->
  <div>
  <app-category></app-category>
</div>
<div  *ngIf="showScreen === 'myList'">
  <app-my-list></app-my-list>
</div>
<div  *ngIf="showScreen === 'recipe'">
  <app-recipe></app-recipe>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@microsoft/signalr@3.0.0/dist/browser/signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="http://code.angularjs.org/1.2.1/angular-route.js"></script>
