.menuTabDiv{
   /* background-image:linear-gradient(to bottom #e8eee8 0%);*/
    padding-top: 41%;
    background-size: cover;
    width: 100%;
    vertical-align: middle;
    background-image:linear-gradient(to top, #e8eee8 10%,  #e8eee8 10%);
    }
.menuFlex{
    display: flex;
    padding-left: 5%;
    background: linear-gradient(to top, #e8eee8, transparent);
}
.menuBG{
    position:inherit;
}
.menuTab{
    width: 100%;
    bottom: 0;
   }
.menuHead{
  font-weight: bold;
  font-size: medium;
  color: black;
  font-family: 'Roboto';
  z-index: 9997;
  width: 48.84%;
  height: 10%;
  position: absolute;
  top: 1.5%;
  background: linear-gradient(to bottom, #e8eee8, transparent);
}
.recipeMainDiv{
  position: absolute;
  height: 73%;
  width: 87%;
}


