.myListDiv{
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  z-index: -1;
  width: 85%;
  padding-bottom: 18%;
  padding-right: 15%;
  height: 100%;
}

.myListItemDiv{
  width: 50%;
  padding-top: 10%;
  padding-left: 10%;
  color: black;
}

.myListItemDiv.inactive{
  color: grey;
}
.myListBtns{
  width: 100%;
}

.mName{
  padding-left: 8%;
  font-weight: bold;
  font-size: medium;
  color : black;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Roboto';
  z-index: 9997;
}
