.menuTab{
    padding-top: 5%; 
    padding-bottom: 5%;
    padding-left: 9%;
}
.menuBtn{
    width: 80%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    color: honeydew;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
    
}
.Veggies{
    background-color: rgb(98, 228, 98);
}
.Meat{
    background-color: rgb(236, 65, 65);
}
.Fish{
    background-color: rgb(85, 183, 240);
}
.Deals{
    background-color: rgb(240, 224, 85);
}

.Recipe{
    background-color: Black;
}

.Recipe:hover {
    outline: 0;
    border-color: black;
    box-shadow: 0 0 0 3px black;
   background: ivory;
   color: black;
  }
  .Deals:hover {
    outline: 0;
    border-color: rgb(240, 224, 85);;
    box-shadow: 0 0 0 3px rgb(240, 224, 85);;
   background: ivory;
   color: rgb(240, 224, 85);;
  }
  .Fish:hover {
    outline: 0;
    border-color:  rgb(85, 183, 240);
    box-shadow: 0 0 0 3px rgb(85, 183, 240);
   background: ivory;
   color: rgb(85, 183, 240);
  }
  .Meat:hover {
    outline: 0;
    border-color: rgb(236, 65, 65);
    box-shadow: 0 0 0 3px rgb(236, 65, 65);
   background: ivory;
   color: rgb(236, 65, 65);
  }
  .Veggies:hover {
    outline: 0;
    border-color: rgb(98, 228, 98);
    box-shadow: 0 0 0 3px rgb(98, 228, 98);
   background: ivory;
   color: rgb(98, 228, 98);
  }