.menuTab{
    padding-top: 5%; 
    padding-bottom: 5%;
    padding-left: 6%;
   
}
.menuBtn{
    width: 65%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    border-style: solid;
    outline: 0;
    color: honeydew;
    border-color: honeydew;
    box-shadow: honeydew;
    font-family: 'Arial Narrow';
    font-weight: lighter;
    letter-spacing: 0;
    /* word-wrap: break-word; */
     
}
.Veggies{
    /*background-color: rgb(98, 228, 98);*/
    background:linear-gradient(to top, rgb(5, 87, 5) 0%,  rgb(98, 228, 98) 100%);
}
.Meat{
   /* background-color: rgb(240, 102, 11);*/
   background:linear-gradient(to top, #502b01 0%,  #e06805 100%);
}
.MyList{
    /* background-color: rgb(236, 65, 65); */
    background:linear-gradient(to top, hsl(0, 95%, 17%) 0%,  hsl(0, 97%, 50%) 100%);
  }
.Fish{
    /* background-color: rgb(85, 183, 240); */
    background:linear-gradient(to top, hsl(249, 98%, 16%) 0%,  rgb(75, 104, 236) 100%);

}
.Deals{
    /* background-color: rgb(240, 224, 85); */
    background:linear-gradient(to top, hsl(59, 88%, 29%) 0%,  hsl(56, 96%, 45%) 100%);
}

.Recipes{
    /* background-color: Black; */
    background:linear-gradient(to top, hsl(0, 0%, 9%) 0%,  #8a8888 100%);
}

.selected{
    padding: 15%;
    vertical-align: middle;
    line-height: 10%;
    font-size: large;
}
.MyList.active{
  outline: 0;
  border-color: hsl(0, 95%, 17%);
  box-shadow: 0 0 0 3px hsl(0, 95%, 17%) ;
  background: ivory;
  color: hsl(0, 95%, 17%) ;
}

.Veggies.active{
    outline: 0;
    border-color: rgb(5, 87, 5) ;
    box-shadow: 0 0 0 3px rgb(5, 87, 5) ;
    background: ivory;
    color: rgb(5, 87, 5) ;
}

  .Meat.active {
    outline: 0;
    border-color: hsl(0, 95%, 17%);
    box-shadow: 0 0 0 3px hsl(0, 95%, 17%);
    background: ivory;
    color: hsl(0, 95%, 17%);
  }

  .Recipes.active {
    outline: 0;
    border-color: black;
    box-shadow: 0 0 0 3px black;
    background: ivory;
    color: black;
  }
  .Deals.active {
    outline: 0;
    border-color: hsl(59, 88%, 29%) ;
    box-shadow: 0 0 0 3px hsl(59, 88%, 29%) ;
    background: ivory;
    color:  hsl(59, 88%, 29%) ;
   }
  .Fish.active {
    outline: 0;
    border-color:  hsl(249, 98%, 16%);
    box-shadow: 0 0 0 3px hsl(249, 98%, 16%);
    background: ivory;
    color: hsl(249, 98%, 16%);
} 