
<div class="menuTab" >
   <button  class="menuBtn" name={{menu.id}} id={{iVal}}
   [ngClass]="(menu.menuName =='My List')?'MyList' : menu.menuName">{{menu.menuName}}</button>
<div  *ngIf="menu.notification!=0" class="notifDiv">
  <span class="notification">{{menu.notification}}</span>
</div>
 </div>
 <div style="display: none">
	<div id="current">0</div>
</div>


 <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@microsoft/signalr@3.0.0/dist/browser/signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script> -->

