.menuTab {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 6%;
}
.menuBtn {
  width: 65%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5px;
  border-style: solid;
  outline: 0;
  color: white;
  border-color: white;
  box-shadow: white;
  font-family: "Roboto";
  font-weight: lighter;
  letter-spacing: 0;
  position: relative;
}
.MyList {
  background: linear-gradient(
    to top,
    hsl(0, 95%, 17%) 0%,
    hsl(0, 97%, 50%) 100%
  );
}
.Recipes {
  background: linear-gradient(to top, hsl(0, 0%, 9%) 0%, #8a8888 100%);
}
.Veggies {
  background: linear-gradient(to top, rgb(5, 87, 5) 0%, rgb(98, 228, 98) 100%);
}
.Meat {
  background: linear-gradient(to top, #502b01 0%, #e06805 100%);
}

.Fish {
  background: linear-gradient(
    to top,
    hsl(249, 98%, 16%) 0%,
    rgb(75, 104, 236) 100%
  );
}
.Deals {
  background: linear-gradient(
    to top,
    hsl(59, 88%, 29%) 0%,
    hsl(56, 96%, 45%) 100%
  );
}

.selected {
  padding: 15%;
  vertical-align: middle;
  line-height: 10%;
  box-shadow: 0 0 17px grey;
  font-size: large;
  font-weight: bolder;
  background: ivory;
}
.MyList.active {
  outline: 0;
  color: hsl(0, 88%, 42%);
}

.Recipes.active {
  outline: 0;
  color: black;
}

.Veggies.active {
  outline: 0;
  color: rgb(5, 87, 5);
}

.Meat.active {
  outline: 0;
  color: hsl(0, 95%, 17%);
}

.Deals.active {
  outline: 0;
  color: hsl(59, 88%, 29%);
}
.Fish.active {
  outline: 0;
  color: hsl(249, 98%, 16%);
}

.notification {
  color: white;
  background-color: red;
  font-size: small;
  font-family: "Roboto";
  border-radius: 50%;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
}
.notifDiv {
  bottom: 12%;
  position: absolute;
  width: 4%;
  padding-left: 9%;
}
