<div class="buttonDiv" >
 
  <button class="semi-transparent-button" id='0' 
  style="background-image: url('assets/images/TV_on.png');
  background-repeat: no-repeat;position: relative;
  background-position-y: center; background-position-x: center;">
    <label class="lbl">Video</label>
  </button>
 
  <button class ="semi-transparent-button" id='1' 
  style="position: relative; vertical-align: top; font-weight: bolder;color: honeydew;"
  value="14.99€"> 14.99€
      <label class="lbl">€/kg</label>
  </button>
  <button class ="semi-transparent-button"  id='2' 
  style="background-image: url('assets/images/Add_off.png');
  background-repeat: no-repeat;position: relative;
  background-position-y: center; background-position-x: center;">
   <label class="lbl">Add</label>
  </button>
  <button class ="semi-transparent-button"  id='3' 
  style="background-image: url('assets/images/Recipe_off.png');
  background-repeat: no-repeat;position: relative;
  background-position-y: center; background-position-x: center;">
   <label class="lbl">Recipe</label>
  </button>
  <button class ="semi-transparent-button"  id='4' 
  style="background-image: url('assets/images/Send_off.png');
  background-repeat: no-repeat;position: relative;
  background-position-y: center; background-position-x: center;">
   <label class="lbl">Send</label>
  </button>
 
</div>
<div style="display: none">
	<div id="current">0</div>
</div>