.buttonDiv{
position : absolute;
top: 45%;
left: 4%;
z-index: 9999;
margin: 0 auto;
width: 80%;
height: 50%;
}
.lbl{
  position: absolute;
    top: 106%;
    left: 18%;
    Z-INDEX: 999999;
    margin: auto;
}
.semi-transparent-button {
    box-sizing: border-box;
    margin: 0 auto;
    width: 8%;
    border-radius: 8px;
    background: rgba(71, 67, 67, 0.5);
    border-color: transparent;
    margin-right: 1%;
    margin-top: 2%;
    height: 16%; 
  }

  .semi-transparent-button.active{
   /* padding: 2%;
     vertical-align: middle; */
    line-height: 10%;
    font-size: large;
    background: #fff;
    color: #000;
    /* transition: all 0.5s ease-in;*/
} 