.header {
  position: absolute;
  width: 50.5%;
  height: 10%;
  right: 0;
  background: linear-gradient(to bottom, #e8eee8, transparent);
  z-index: 9999;
}
.headerContent {
  position: relative;
  left: 50%;
  width: 37%;
  font-weight: bold;
  font-family: "Roboto";
}
