.header{
  position: absolute;
    margin: 0;
    width: 48.7%;
    padding-left: 50%;
    height: 10%;
    background: linear-gradient(to bottom, #e8eee8, transparent);
}
.headerContent{
  position: relative;
  left: 60%;
  width: 35%;
  font-weight: bold;
  font-family: 'Roboto';
}
